body{

	background: #f8f8ff;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}



.first{
	width: 50%;
	color: #FFF;
	background: #7b68ee;
	font-family: 'Lato', sans-serif;
	font-size: 10vh;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	/*padding-top: 20%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20%;*/
	margin-top: 0%;
	margin-bottom: 0%;
}

.last{
	width: 50%;
	color: #FFF;
	background: #483d8b;
	font-family: 'Lato', sans-serif;
	font-size: 10vh;
	letter-spacing: 2px;
	text-transform: uppercase;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	text-align: center;
	/*padding-top: 20%;
	padding-bottom: 20%;
	padding-left: 5%;
	padding-right: 5%;*/
	margin-top: 0%;
	margin-bottom: 0%;
}

.firstline{
	display: flex;
	height: 10vh;
	/*border: 10px solid black;*/
}
.secondline{
	display: flex;
	height: 80vh;
	margin-top: 10vh;
	/*border: 10px solid black;*/
}

h2 {
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 10vh;
}
.block1{
	background: #48d1cc;
	text-align: center;
	width: 33.33333%;
}
.block2{
	background: #66cdaa;
	text-align: center;
	width: 33.33333%;

}
.block3{
	background: #20b2aa;
	width: 33.33333%;
	text-align: center;

}